@{
    var orderID = Guid.NewGuid().ToString("N");
    var orderDate = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    //var companyKey = "90b73992a32e4e3aa3fd2a261a023675"
    //var sign = GatewayCommon.GetGPaySign()
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @*<script type="text/javascript">
            window.onload = function () {
                document.getElementById("PostForm").submit();
            }
        </script>*@
</head>
<body>
    <button onclick="test()">Test</button>
    <form id="PostForm" name="PostForm" method="post" action="https://www.richpay888.com/api/Gateway/RequirePayment">

        @*<form id="PostForm" name="PostForm" method="post" action="https://gateway.asiapaycenter.com/gateway.do" style="display:none">*@
        <div>

            <table border="0" style="width:100%;">
                <tr>
                    <td style="width:30%; text-align:right;">CompanyCode</td>
                    <td style="width:70%;"><input type="text" name="CompanyCode" value="ShinPay" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">CurrencyType</td>
                    <td><input type="text" name="CurrencyType" value="CNY" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">ServiceType</td>
                    <td>
                        <select name="ServiceType">
                            <option value="BK001">銀行卡轉帳</option>
                            <option value="AB001">支付寶轉帳</option>
                            <option value="WX001">微信轉帳</option>
                            <option value="OB002">在線網銀</option>
                            <option value="FP002">快捷支付</option>
                            <option value="QQ003">QQ掃碼</option>
                            <option value="WX003">微信掃碼</option>
                            <option value="JP003">京東掃碼</option>
                            <option value="UP003">銀聯掃碼</option>
                            <option value="AP003">支付寶掃碼</option>
                            <option value="BD003">百度掃碼</option>
                            <option value="JP004">京東H5</option>
                            <option value="UP004">銀聯H5</option>
                            <option value="QQ004">QQH5</option>
                            <option value="FP004">快捷H5</option>
                            <option value="AP004">支付寶H5</option>
                            <option value="WX004">微信H5</option>
                            <option value="CP001">雲閃付</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">BankCode</td>
                    <td>
                        <select name="BankCode">
                            <option value="ABC">中國農業銀行</option>
                            <option value="ALIPAY">支付寶轉帳銀行卡</option>
                            <option value="BCCB">北京銀行</option>
                            <option value="BOC">中國銀行</option>
                            <option value="BOS">上海銀行</option>
                            <option value="CCB">中國建設銀行</option>
                            <option value="CEB">中國光大銀行</option>
                            <option value="CIB">興業銀行</option>
                            <option value="CITIC">中信銀行</option>
                            <option value="CMB">招商銀行</option>
                            <option value="CMBC">中國民生銀行</option>
                            <option value="COMM">交通銀行</option>
                            <option value="GDB">廣發銀行</option>
                            <option value="HXB">華夏銀行</option>
                            <option value="ICBC">中國工業銀行</option>
                            <option value="PSBC">中國郵政儲蓄銀行</option>
                            <option value="SPDB">浦發銀行</option>
                            <option value="SZPAB">平安銀行</option>
                            <option value="WECHAT">微信轉帳銀行卡</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">ClientIP</td>
                    <td><input type="text" name="ClientIP" value="112.121.69.20" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">OrderID</td>
                    <td><input type="text" name="OrderID" value="@orderID" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">OrderDate</td>
                    <td><input type="text" name="OrderDate" value="@orderDate" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">OrderAmount</td>
                    <td><input type="text" name="OrderAmount" value="" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">ReturnURL</td>
                    <td><input type="text" name="ReturnURL" value="http://gpay.dev4.mts.idv.tw/api/ProviderResult/TestReturnTwo" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">State</td>
                    <td><input type="text" name="State" value="testData=20" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td style="text-align:right;">Sign</td>
                    <td><input type="text" name="Sign" value="Sign" style="width:80%;" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right;"><input type="submit" value="確認" runat="server" id="submitBtn" /></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
